// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//Navbar start

#mainNavbar {
	background: black;
	padding-bottom: 0rem;
}

#mainNavbar .nav-link {
	color: white;
	text-shadow: 2px 2px #5f6769;
	font-size: 1.5rem;
	transition: text 3s ease-in;
}

#mainNavbar .nav-link:hover {
	color: #d79abc;
	cursor: pointer;
}

.nav-item {
	padding-right: 1rem;
}

#logo {
	height: 50px;
	margin-top: -2rem;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

#logo:hover {
	transform: scale(1.3);
}

.nav-brand span::before {
	content: "";
	color: #baabda;
	height: 20px;
	width: 20px;
	font-size: 4rem;
}

//Navbar end

//Welcome section

.container_marble {
	display: flex;
	overflow: hidden;
	height: 90vh;
	transition: background-image 1s linear;
	justify-content: center;
	background: url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595661017/bridgetlandia/marble_bg_tiny_baplot.jpg')
		no-repeat fixed top center / cover;
}

.first_line {
	text-align: center;
	align-self: center;
	justify-self: center;
	display: flex;
	color: whitesmoke;
	font-size: 1.4rem;
	background-color: black;
	opacity: 0.9;
	padding: 40px 40px 40px 50px;
	z-index: 0;
	height: 17rem;
	width: 21rem;
}

.intro {
	padding-bottom: 2rem;
}

.buttons {
	background: black;
	border: solid 2px;
	border-radius: 10px;
	border-color: white;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	z-index: 99;
	position: relative;
}

.buttons:hover {
	background: #f737f1;
	color: #fffd00;
	border-color: #fffd00;
}

// @keyframes grow {
//     0% { transform: scale(0.6)}
//     50% { transform: scale(0.9)}
//   }

//   @-webkit-keyframes grow {
//     0% { transform: scale(0.6) }
//     50% { transform: scale(0.9) }
//   }

//About section

.cool {
	height: 87vh;
	display: flex;
	background: linear-gradient(90deg, #000000 50%, #FFFFFF 50%);

}


.profil {
	display: flex;
	width: 100%;
	height: auto;
	z-index: 0;
	justify-content: flex-end;
	margin-right: 8rem;
}

#blackandwhite {
	display: flex;
	margin-top: 6rem;
	max-width: 50%;
	align-self: flex-start;
	height: auto;
	z-index: 0;
}

#probe_text {
	display: flex;
	position: absolute;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 3rem;
	flex: 50%;
}

.container_welcome {
	display: flex;
	margin: 0px;
	padding: 0;
}

#Welcome {
	padding: 2rem;
	flex: 50%;
	height: 87vh;
}

.welcome_text {
	font-size: 1rem;
	color: white;
	text-align: left;
	width: 45%;
	margin-top: 2rem;
}

#White {
	margin-top: 5rem;
	background-color: rgba(255, 255, 255, 0.849);
	padding: 2rem;
	flex: 50%;
}

h2 {
	font-size: 1.8rem;
	//background: -webkit-linear-gradient(#fffd00, #f737f1);
	//background: -webkit-linear-gradient(#d7bfe0, rgb(114, 214, 209));
	background: -webkit-linear-gradient(#d7bfe0, rgb(231, 247, 6));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 1rem;
}

#click {
	padding-top: 2rem;
	color: #e7b5d0;
	text-align: left;
	width: 30%;
	font-weight: 700;
}

//Projects section
.projects_container_wrapper {
	background-color: whitesmoke;
}
#projects_container {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 100%;
}

.my_projects_title {
	margin-bottom: 2rem;
}

.projects_row {
	margin-bottom: 2rem;
}
.project_title {
	font-weight: 700;
}
.project_subtitle {
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.modal-content {
	align-items: center;
}
.modal_gif {
	width: 900px;
}

.project_modal_footer {
	width: 900px;
	background: whitesmoke;
}
h1 {
	color: black;
}


.projects {
	padding-bottom: 1rem;
	transition: all .2s ease-in-out;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
}

.projects:hover {
	transform: scale(1.1);
}

.project_links {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.project_links:hover {
	text-decoration: none;
	color: #fffd00;
	cursor: pointer;
}

#arrow_img {
	width: 50px;
	transform: rotate(-90deg);
}

// Skills section

.skills {
	height: 100%;
	color: #d79abc;
}

.stack_wraper {
	display: flex;
	height: 200px;
}

h3 {
	color: whitesmoke;
	padding-bottom: 1rem;
}

.stack_icon {
	max-width: 100px;
}

.skill_icon {
	max-width: 60px;
	margin-bottom: 0.5rem;
}
//Clouds (Stacks)

.clouds {
	display: flex;
	height: 180vh;
	width: 100%;
	background-color: black;
	background-image: url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595664841/bridgetlandia/small_cloud_lmdnll.png'),
		url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595664869/bridgetlandia/shiny_cloud_qmc9um.png');
	background-repeat: repeat-x;
	background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
	background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
	animation: 250s para infinite linear;
	transform: rotate(0.02deg);
}

@keyframes para {
	100% {
		background-position: 500px 50%, 1000px 100%, 400px 0;
	}
}

.skill-box {
	text-align: center;
}

.stack {
	font-size: 2rem;
	text-shadow: yellow;
	padding-top: 3.2rem;
	text-align: center;
	//background: -webkit-linear-gradient(#fffd00, #f737f1);
	//background: -webkit-linear-gradient(#b700ff, rgb(140, 213, 216));
	background: -webkit-linear-gradient(#d7bfe0, rgb(231, 247, 6));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.stack_row {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

//Footer

.footer {
	background: black;
	height: 80%;
	//color: #fffd00;
	color: rgb(231, 247, 6);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: relative;
}

.contact {
	height: 52px;
	padding: 0 40px 0 40px;
	position: relative;
	display: block;
	width: 100%;
	background: whitesmoke;
	border-radius: 31px;
	font-family: "Open Sans", "sans-serif";
	font-size: 18px;
	color: #8f8fa1;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.message {
	min-height: 140px;
	padding: 19px 35px 0 35px;
	position: relative;
	display: block;
	width: 100%;
	background: whitesmoke;
	border-radius: 31px;
	font-family: "Open Sans", "sans-serif";
	font-size: 18px;
	color: #8f8fa1;
	line-height: 1.2;
	margin-bottom: 1rem;
}

#form_button {
	align-content: space-around;
}

.allRights {
	display: flex;
	align-self: flex-end;
	font-size: 0.5rem;
}

.info {
	display: flex;
	justify-self: center;
}

.icon_wrapper {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.icons {
	display: flex;
	height: 2rem;
	flex-grow: 1;
	margin-left: 0.5rem;
	margin-right: 1rem;
	transition: all .2s ease-in-out;
}

.icons:hover {
	transform: scale(1.1);
}

#github {
	background-color: white;
	border: 0.1px;
	border-radius: 40%;
}

.copy_button {
	color: rgb(231, 247, 6);
	background: black;
	cursor: pointer;
	margin-left: 1rem;
	text-decoration: underline;
}

//Media@

@media only screen and (max-width: 768px) {

	.cool {
		height: 75vh;
		display: flex;
		background: black;

	}

	#probe_text {
		display: flex;
		position: absolute;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 3rem;
		flex: 50%;
	}

	#blackandwhite {
		display: flex;
		margin-top: 5rem;
		margin-right: 4rem;
		height: auto;
		align-self: flex-start;

	}

	.profil {
		display: flex;
		z-index: 0;
		justify-content: flex-end;
		align-self: center;
		margin-top: 3rem;

	}

	.wrapper_welcome {
		margin-top: 4rem;
	}

	.welcome_text {
		width: 100%;
	}

	.icon_wrapper {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		margin-top: 1rem;
	}

	#click {
		display: none;
	}

	#projects_container {
		position: relative;
		padding-top: 2rem;
		padding-bottom: 2rem;
		height: 100%;
	}

	.my_projects_title {
		display: flex;
		justify-content: center;
		margin-bottom: 0rem;
	}

	.projects_row {
		margin-bottom: 0rem;
	}

	.section_title {
		margin-left: 1rem;
	}
	.stack_wraper {
		display: block;
		width: 20%;
	}

	.skill-box {
		text-align: center;
		background-color: black;
		padding-bottom: 2rem;
		opacity: 0.9;
	}
	.stack_row {
		margin-top: 0px;
	}
	.stack_icon {
		max-width: 63.77px;
	}

	.contact {
		height: 62px;
	}

	.message {
		min-height: 169px;
	}
	.icon_wrapper {
		margin-top: 2.5rem;
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}
	.copy_button {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.projects_row {
		display: flex;
		flex-direction: column;
	}
	.buttons-gif {
		display: none;
	}
	.projects {
		padding-bottom: 1rem;
		margin-top: 3rem;
		transition: all .2s ease-in-out;
	}
	.profil {
		margin-right: 0rem;
	}
}
@media only screen and (min-width: 1824px) {
	/* Styles */
	.first_line {
		text-align: center;
		align-self: center;
		justify-self: center;
		display: flex;
		color: white;
		font-size: 1.6rem;
		background-color: black;
		opacity: 0.9;
		padding: 40px 40px 40px 50px;
		z-index: 0;
		height: 20rem;
		width: 22rem;
	}
}
