// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//.theme-light {
//	--color-primary: #87CEEB;
//}

.dark_mode {
	--color-primary: #09233f;
	--color-secondary: #eabe44;
	--color-third: #d7bfe0;
	--color-opacity: rgba(9, 35, 63, 0.9);
	--border:(1px solid rgba(0, 0, 0, 0.3));
	--color-moon-text: #ddd;
	--color-nav-text: white;
	--z-index-moon: 100
}

.light_mode {
	--color-primary: #51d0de;
	--color-secondary: #bf4aa8;
	--color-third: #2c3eb5;
	--color-opacity: rgba(81, 208, 222, 0.6);
	--border:(1px solid rgba(135, 206, 250, 0.75));
	--color-moon-text: #bf4aa8;
	--color-nav-text: #bf4aa8;
	--z-index-moon: 0
}

//Navbar start

#mainNavbar {
	background: var(--color-primary);
	padding: 0rem 1rem;
	opacity: 0.9;
}

#mainNavbar .nav-link {
	color: var(--color-nav-text);
	font-size: 1.5rem;
	transition: text 3s ease-in;
}

#mainNavbar .nav-link:hover {
	color: #f737f1;
	cursor: pointer;
}

.nav-item {
	padding-right: 1rem;
	list-style-type: none;
}


#logo {
	height: 50px;
	margin-top: -3rem;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

#logo:hover {
	transform: scale(1.3);
}

.nav-brand span::before {
	content: "";
	color: #baabda;
	height: 20px;
	width: 20px;
	font-size: 4rem;
}

label {
	width:52px;
	height:22px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 20px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	margin-top: 1rem;
	margin-bottom: 0rem;
}

label:after {
	content: "";
	width:18px;
	height: 18px;
	position: absolute;
	top:2px;
	left:2px;
	background: linear-gradient(180deg,#ffcc89,#fffd00);
	border-radius: 18px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input#darkmode-toggle  {
	width: 0;
	height: 0;
	visibility: hidden;
}

 input#darkmode-toggle:checked + label {
	background: #242424;
}

 input#darkmode-toggle:checked + label:after {
	left:48px;
	transform: translateX(-95%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}

label, label:after {
	transition: 1s
}


//Navbar end

//Welcome section

.moon {
	content:'';
	display:block;
	height:10rem;
	width:10rem;
	border-radius:100%;
	background :#ddd;
	margin:auto;
	box-shadow:0 0 50px #F4EBD0,0 0 350px #F4EBD0, inset 0 20px 20px 40px whitesmoke, inset 30px 0 35px 50px ivory;
	transition:1s;
	position:absolute;
	top:auto;
	left:50%;
	margin-left:-352px;
	margin-top:260px;
	z-index: var(--z-index-moon)
}

.moon:hover {
	box-shadow:0 0 50px #F4EBD0,0 0 30px #F4EBD0, inset 0 10px 10px 20px #ddd, inset 30px 0 35px 50px #ccc;
	background: #ece3e3;
	transition:1s;
}


.clouds_welcome_section {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: var(--color-primary);
	background-image: url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595664841/bridgetlandia/small_cloud_lmdnll.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
	background-size: cover;
	animation: 100s para_welcome_section infinite linear;
	transform: rotate(0.02deg);
	z-index: 100;

}

@keyframes para_welcome_section {
	100% {
		background-position: 500px 50%, 1000px 100%, 400px 0;
	}
}



.welcome_message_wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	align-self: center;
	justify-content: center;
	color: var(--color-moon-text);
	font-size: 1.4rem;
	font-weight: bold;
	padding: 40px;
	height: 100vh;
	width: 100vw;
	background: var(--color-opacity);
	border-radius: 13px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid var(--color-opacity);
}


.buttons {
	background: var(--color-primary);
	border-color: white;
	color: white;
	border: solid 2px;
	border-radius: 10px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	z-index: 99;
	position: relative;
}

.buttons:hover {
	background: #f737f1;
	color: #fffd00;
	border-color: #fffd00;
}


//About section

.about_container {
	height: 88vh;
	display: flex;
	background: linear-gradient(90deg, var(--color-primary) 50%, #FFFFFF 50%);

}


.profile_picture_section {
	display: flex;
	width: 100%;
	height: auto;
	z-index: 0;
	justify-content: flex-end;
	margin-right: 12rem;
}

#profile_picture_img {
	display: flex;
	margin-top: 6rem;
	max-width: 50%;
	align-self: flex-start;
	height: auto;
	z-index: 0;
}

#personal_intro_text_wrapper {
	display: flex;
	position: absolute;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 3rem;
	flex: 50%;
}


.personal_intro_text {
	padding: 2rem;
	text-align: left;
	width: 45%;
	margin-top: 2rem;
}

.personal_intro_paragraph {
	font-size: 1rem;
	background: -webkit-linear-gradient(var(--color-third), var(--color-secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;

}

h2 {
	font-size: 1.8rem;
	background: -webkit-linear-gradient(var(--color-third), var(--color-secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 1rem;
}

#click {
	padding-top: 2rem;
	color: #e7b5d0;
	text-align: left;
	width: 30%;
	font-weight: 700;
}

//Projects section
.projects_container_wrapper {
	background-color: whitesmoke;
}
#projects_container {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 100%;
}

.my_projects_title {
	margin-bottom: 2rem;
}

.projects_row {
	margin-bottom: 2rem;
}
.project_title {
	font-weight: 700;
}
.project_subtitle {
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.modal-content {
	align-items: center;
}
.modal_gif {
	width: 900px;
}

.project_modal_footer {
	width: 900px;
	background: whitesmoke;
}
h1 {
	color: black;
}


.projects {
	padding-bottom: 1rem;
	transition: all .2s ease-in-out;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
}

.projects:hover {
	transform: scale(1.1);
}

.project_links {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.project_links:hover {
	text-decoration: none;
	color: #fffd00;
	cursor: pointer;
}

#arrow_img {
	width: 50px;
	transform: rotate(-90deg);
}

// Skills section

.skills {
	height: 100%;
	color: var(--color-secondary)
}

.skills_text {
	background: -webkit-linear-gradient(var(--color-third), var(--color-secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.stack_wraper {
	display: flex;
	height: 200px;
}

h3 {
	color: whitesmoke;
	padding-bottom: 1rem;
}

.stack_icon {
	max-width: 100px;
}

.skill_icon {
	max-width: 60px;
	margin-bottom: 0.5rem;
}
//Clouds (Stacks)

.clouds {
	display: flex;
	height: 180vh;
	width: 100%;
	background-color: var(--color-primary);
	background-image: url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595664841/bridgetlandia/small_cloud_lmdnll.png'),
		url('https://res.cloudinary.com/dfjaln3y4/image/upload/v1595664869/bridgetlandia/shiny_cloud_qmc9um.png');
	background-repeat: repeat-x;
	background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
	background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
	animation: 450s para infinite linear;
	transform: rotate(0.02deg);
}

@keyframes para {
	100% {
		background-position: 500px 50%, 1000px 100%, 400px 0;
	}
}

.skill-box {
	text-align: center;
}

.stack {
	font-size: 2rem;
	text-shadow: yellow;
	padding-top: 3.2rem;
	text-align: center;
	background: -webkit-linear-gradient(#d7bfe0, var(--color-secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.stack_row {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

//Footer

.footer {
	background: var(--color-primary);
	height: 80%;
	color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: relative;
}

.contact {
	height: 52px;
	padding: 0 40px 0 40px;
	position: relative;
	display: block;
	width: 100%;
	background: whitesmoke;
	border-radius: 31px;
	font-family: "Open Sans", "sans-serif";
	font-size: 18px;
	color: #8f8fa1;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.message {
	min-height: 140px;
	padding: 19px 35px 0 35px;
	position: relative;
	display: block;
	width: 100%;
	background: whitesmoke;
	border-radius: 31px;
	font-family: "Open Sans", "sans-serif";
	font-size: 18px;
	color: #8f8fa1;
	line-height: 1.2;
	margin-bottom: 1rem;
}

#form_button {
	align-content: space-around;
}

.allRights {
	margin-top: 2rem;
	display: flex;
	align-self: flex-end;
	font-size: 0.75rem;
}

.info {
	display: flex;
	justify-self: center;
}

.contact_icons_wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}

.icons {
	display: flex;
	height: 2rem;
	flex-grow: 1;
	margin-left: 0.5rem;
	margin-right: 1rem;
	transition: all .2s ease-in-out;
}

.icons:hover {
	transform: scale(1.1);
}

#github {
	background-color: white;
	border: 0.1px;
	border-radius: 40%;
}

.copy_button {
	color: var(--color-secondary);
	background: var(--color-primary);
	cursor: pointer;
	margin-left: 1rem;
	text-decoration: underline;
}



//Media@

@media only screen and (max-width: 768px) {

	//Welcome section

	.moon {
		margin-left:-225px;
		margin-top:-25px;
		height:12rem;
		width:12rem;

	}

	.welcome_message_wrapper {
		/* From https://css.glass */
		background: var(--color-opacity);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(18.9px);
		-webkit-backdrop-filter: blur(18.9px);
		height: 18rem;
		width: 21rem;
	}

	//About section

	.about_container {
		height: 95vh;
		display: flex;
		background: var(--color-primary);

	}

	#personal_intro_text_wrapper {
		display: flex;
		position: absolute;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 3rem;
		flex: 50%;
	}

	.profile_picture_section {
		display: flex;
		z-index: 0;
		justify-content: flex-end;
		align-self: center;
		margin-top: 10rem;

	}

	#profile_picture_img {
		display: flex;
		margin-top: 10rem;
		margin-left: 15rem;
		height: auto;
		align-self: flex-start;

	}

	.wrapper_welcome {
		margin-top: 4rem;
	}

	.personal_intro_text {
		width: 100%;
		margin-top: 0rem;
		padding: 1rem;

	}


	#click {
		display: none;
	}

	//Project section

	#projects_container {
		position: relative;
		padding: 2rem;
		height: 100%;
	}

	.my_projects_title {
		display: flex;
		justify-content: center;
		margin-bottom: 0rem;
	}

	.projects_row {
		margin-bottom: 0rem;
	}

	//Skill section

	.section_title {
		margin-left: 1rem;
	}

	.stack_wraper {
		display: block;
		width: 20%;
	}

	.skill-box {
		text-align: center;
		background-color: var(--color-primary);
		padding-bottom: 2rem;
		opacity: 0.9;
	}


	.stack_row {
		margin-top: 0px;
	}


	.stack_icon {
		max-width: 63.77px;
	}

	//Footer section

	.contact {
		height: 62px;
	}

	.message {
		min-height: 169px;
	}

	.contact_icons_wrapper {
		margin-top: 2.5rem;
		display: flex;
		justify-content: flex-start;
		justify-items: flex-end;
		width: 100%;
	}

	.icons {
		margin-right: 0rem;

	}

	.copy_button {
		display: none;
	}

	.email {
		margin-left: 0.5rem;

	}


	.email_description {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.projects_row {
		display: flex;
		flex-direction: column;
	}
	.buttons-gif {
		display: none;
	}
	.projects {
		padding-bottom: 1rem;
		margin-top: 3rem;
		transition: all .2s ease-in-out;
	}

}
@media only screen and (min-width: 1824px) {
	/* Styles */
	.welcome_message_wrapper {
		text-align: center;
		align-self: center;
		justify-self: center;
		display: flex;
		color: white;
		font-size: 1.6rem;
		background-color: var(--color-primary);
		opacity: 0.9;
		padding: 40px 40px 40px 50px;
		z-index: 0;
		height: 20rem;
		width: 22rem;
	}
}
